package.json
package-lock.json
.jscpd.json
/.cache-loader
/.coverage
/.nyc_output
/types
/.webpack
/.serverless
.github
angular.json
extra-webpack.config.js
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
.prettierrc
/dist
/build
/.serverless_nextjs/
/.serverless/
/.next/
/.idea/
.env
/storybook-static/

